:root {
    --spacing: 10px;
    --blur: 0px;
    --color: #ffd700;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, skyblue, blue);
    height: 100vh;
}

h1 {
    text-transform: capitalize;
    font-size: 3em;
}

.h1 {
    color: var(--color);
}

#image {
    padding: var(--spacing);
    filter: blur(var(--blur));
    background-color: var(--color);
    margin-top: 1em;
}